/**
 * Custom Styles here.
 *
 * refï¼šhttps://v1.vuepress.vuejs.org/config/#index-styl
 */

body {
  background-image: var(--c-bg-page)!important;
}

.home {
  width: 100%!important;
  max-width: 100%!important;
  height: 360px!important;
  max-height: 360px!important;
  padding: 3.6rem 0!important;
}

.navbar {
  margin: 0 auto!important;
  background: var(--c-bg)!important;
  max-width: 820px!important;
  border-bottom: solid var(--c-brand-light) 1px!important;
}

.navbar .site-name {
  font-size: 2.65rem!important;
}

@media (max-width: 719px) {
  .navbar .site-name {
    font-size: 1.45rem!important;
  }
}

.theme-default-content {
  background-color: var(--c-bg)!important;
}

.custom-block {
  border-color: var(--c-text)!important;
}

blockquote {
  border-left: 0.2rem solid var(--c-brand)!important;
  color: var(--c-text)!important;
}

.back-to-top {
  background-color: var(--c-text-lighter)!important;
}

.page-nav {
  background-color: var(--c-bg);
}

.footer {
  display: none;
}

hr {
  position:relative;
  left: calc(.1% - 40px)!important;
  border: 0!important;
  background-image: var(--c-bg-page) !important;
  height: 25px!important;
  width: calc(80px + 100%)!important;
}